<h2><%= @user.name %></h2>

<!-- <p>Your email is <%= @user.email %></p> -->

<div id="Feed">
    <h3>Feed</h3>
  <div class='panel'>
      <p><a href="/users/<%= @user.id %>/my_answer">My Answers</a></p>
      <p><a href="/users/<%= @user.id %>/my_question">My Questions</a></p>
</div>
</div>

