<html>
	<head>
		<title>Quora</title>
    <link rel="stylesheet" href="css/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/js/application.js"></script>
	</head>
	<body>
  <h1><a href="/">Quora</a></h1>
      <% if current_user %>
       <p>Signed in as <%= current_user.name %></p>
       <form method=post action="/logout">
         <input type=submit value="Log out">
       </form>       
      <% end %>
		<%= yield %>
	</body>
</html>

